.profilePageContainer {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(14, 14, 14);
}

    .mainProfileBodyContainer {
        height: 100%;
        width: 100%;
        max-width: 1000px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: rgb(14, 14, 14);
        padding: 40px 100px;
    }

        .exitProfileContainer {
            height: 5%;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }

            .fa-arrow-left {
                font-size: 28px;
                transition: linear 0.1s;
                cursor: pointer;
            }

            .fa-arrow-left:hover {
                transition: linear 0.1s;
                color: rgba(102, 189, 255, 1);
            }

        .mainProfileBodyIntroContainer {
            height: 15%;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }

            .mainProfileIntroPic {
                aspect-ratio: 1 / 1;
                max-height: 100px;
                max-width: 100px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                border: 5px solid black;
            }

            .mainProfileIntroCredentialsContainer {
                height: 40%;
                width: 25%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                margin-left: 20px;
            }

                .userCredentialsBox {
                    height: 50%;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                }

                    .mainProfileNameText {
                        font-size: 22px;
                        font-weight: bold;
                    }

                    .mainProfileUsernameText {
                        font-size: 18px;
                        opacity: 0.5;
                        margin-right: 10px;
                    }

                    .fa-square-check {
                        font-size: 22px;
                        color:rgba(102, 189, 255, 1);
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                    }

            .loadingIntroStats {
                height: 40%;
                width: 60%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin-left: 60px;
            }

            .mainProfileIntroStatsContainer {
                height: 40%;
                width: 60%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin-left: 60px;
            }

                .mainProfileFollowersContainer {
                    height: 100%;
                    width: 25%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    cursor: pointer;
                    padding: 10px 0;
                    transition: linear 0.1s;
                    border-radius: 5px;
                }

                .mainProfileFollowersContainer:hover {
                    background-color: rgba(102, 189, 255, 1);
                    transition: linear 0.1s;
                }

                .mainProfileFollowingContainer {
                    height: 100%;
                    width: 25%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    cursor: pointer;
                    padding: 10px 0;
                    border-radius: 5px;
                    transition: linear 0.1s;
                }

                .mainProfileFollowingContainer:hover {
                    background-color: rgba(102, 189, 255, 1);
                    transition: linear 0.1s;
                }

                .mainProfilePostsNumberContainer {
                    height: 100%;
                    width: 25%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    padding: 10px 0;
                }

                    .mainProfileStatTitle {
                        font-size: 16px;
                    }

                    .mainProfileStatNumber {
                        font-size: 18px;
                        font-weight: bold;
                    }

        .mainProfileBodyFollowContainer {
            height: 5%;
            width: 30%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

            .followButton {
                height: 45px;
                width: 110px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                background-color: rgb(42, 42, 42);
                border-radius: 5px;
                padding: 10px;
                font-weight: bold;
                cursor: pointer;
                transition: linear 0.1s;
                margin-right: 10px;
            }

                .followButton:hover {
                    background-color: rgb(32, 32, 32);
                    transition: linear 0.1s;
                }

            .showFeedPostsButton {
                height: 45px;
                width: 110px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                background-color: rgba(42, 42, 42, 1);
                border-radius: 5px;
                padding: 10px;
                font-weight: bold;
                cursor: pointer;
                transition: linear 0.1s;
            }

                .showFeedPostsButton:hover {
                    background-color: rgb(32, 32, 32);
                    transition: linear 0.1s;
                }

            .showLikedPostsButton {
                height: 45px;
                width: 110px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                background-color: rgba(42, 42, 42, 1);
                border-radius: 5px;
                padding: 10px;
                font-weight: bold;
                cursor: pointer;
                transition: linear 0.1s;
            }

                .showLikedPostsButton:hover {
                    background-color: rgb(32, 32, 32);
                    transition: linear 0.1s;
                }

            .unfollowButton {
                height: 45px;
                width: 110px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                background-color: rgb(255, 255, 255);
                color: #212121;
                border-radius: 5px;
                padding: 10px;
                font-weight: bold;
                cursor: pointer;
                transition: linear 0.1s;
                margin-right: 10px;
            }

                .unfollowButton:hover {
                    background-color: rgb(199, 199, 199);
                    transition: linear 0.1s;
                }

            .settingsButton {
                height: 45px;
                width: 110px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                background-color: rgb(42, 42, 42);
                border-radius: 5px;
                padding: 10px;
                font-weight: bold;
                cursor: pointer;
                transition: linear 0.1s;
                margin-right: 10px;
            }

                .settingsButton:hover {
                    background-color: rgb(32, 32, 32);
                    transition: linear 0.1s;
                }

        .mainProfilePostsFeedContainer {
            height: 70%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            margin-top: 40px;
        }

        .mainProfileLikedPostsContainer {
            height: 70%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            margin-top: 40px;
        }
