.followerCardContainer {
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(22, 22, 22);
    padding : 10px 20px;
    cursor: pointer;
    border-bottom: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
}

    .followerCardImg {
        aspect-ratio: 1 / 1;
        max-height: 40px;
        max-width: 40px;
        border-radius: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: 2px solid black;
    }

    .followerCardUsernameContainer {
        height: 100%;
        width: 70%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

        .followerCardUsername {
            font-size: 14px;
            font-weight: bold;
            color: white;
            margin-right: 10px;
        }

        .fa-solid.fa-square-check.followerCardCheck {
            font-size: 16px;
        }
