.homeDetailedPostCard {
    height: 400px;
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #212121;
    border-radius: 10px;
    position: absolute;
    padding: 40px;
    left: 50%;
    top: 25%;
    transform: translate(-50%, 0);
    z-index: 3;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgba(0, 0, 0, 0.7);
}

    .homeDetailedLeftBody {
        height: 100%;
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

        .homeDetailedProfileContainer {
            height: 20%;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }

            .homeDetailedProfilePic {
                height: 40px;
                width: 40px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                margin-right: 10px;
            }

        .homeDetailedPostContainer {
            height: 40%;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            padding: 0 10px;
        }

            .homeDetailedPostText {
                font-size: 24px;
            }

        .homeDetailedInteractContainer {
            height: 50px;
            width: 90px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            padding: 10px;
            transition: 0.1s linear;
            cursor: pointer;
        }

        .homeDetailedInteractContainer:hover {
            background-color: rgba(102, 189, 255, 1);
            transition: 0.1s linear;
        }

            .fa-222 {
                font-size: 22px;
                margin-right: 10px;
            }

            .homeLikeCount {
                font-size: 18px;
            }

    .homeDetailedRightBody {
        height: 100%;
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-left: 1px solid rgba(255, 255, 255, 0.274);
        padding-left: 30px;
    }

        .homeDetailedCloseButtonContainer {
            height: 10%;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

            .homeDetailedCommentsTitle {
                font-size: 16px;
                font-weight: bold;
            }

            .fa-xmark {
                cursor: pointer;
                transition: linear 0.1s
            }

            .medium-x {
                font-size: 26px;
            }

            .fa-xmark:hover {
                color:rgba(102, 189, 255, 1);
                transition: linear 0.1s
            }

        .homeDetailedCommentsFeedContainer {
            height: 70%;
            width: 100%;
            overflow-x: hidden;
            overflow-y: scroll;
            overflow-wrap: break-word;
            padding-right: 15px;
        }

        .homeDetailedCommentsInputContainer {
            height: 10%;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }

            .homeDetailedCommentsInput {
                height: 100%;
                width: 80%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }

            .homeDetailedPostCommentButton {
                font-size: 18px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin-left: 10px;
                cursor: pointer;
                transition: linear 0.1s
            }

            .homeDetailedPostCommentButton:hover {
                color:rgba(102, 189, 255, 1);
                transition: linear 0.1s
            }
