.homeMainBodyContainer {
    height: 100%;
    width: 100%;
    max-width: 1400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(24, 24, 24);
    padding: 50px 80px;
}

    .homeMainBodyLeft {
        height: 100%;
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

        .homeTextContainer {
            height: 60px;
            min-height: 60px;
            width: 100px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }

            .homeText {
                font-size: 24px;
                font-weight: bold;
            }

        .statusUpdateContainer {
            height: 100px;
            min-height: 100px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

            .statusUpdateInputContainer {
                height: 100%;
                width: 70%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
            }

                .statusUpdateInput {
                    height: 50px;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                }

                    textarea {
                        resize: none;
                        font-size: 20px;
                        border-bottom: 1px white solid;
                    }

                    .postStatusButton {
                        height: 40px;
                        width: 80px;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        background-color: white;
                        border-radius: 5px;
                        color: #212121;
                        font-size: 16px;
                        font-weight: bold;
                        cursor: pointer;
                    }

        .homeFeedContainer {
            height: 2500px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }

    .homeMainBodyRight {
        height: 100%;
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
    }

        .profileContainer {
            height: 60px;
            width: 170px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

            .profileUsername {
                font-size: 16px;
                font-weight: bold;
            }

            .profileImg {
                height: 40px;
                width: auto;
                border-radius: 50%;
            }

        .searchContainer {
            height: 100px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
        }

            .searchInput {
                height: 50px;
                width: 250px;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                font-size: 16px;
                border: 2px solid white;
                border-radius: 10px;
                padding: 10px;
            }

        .topCreatorsContainer {
            height: 600px;
            width: 70%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            background-color: #212121;
            border-radius: 20px;
            margin-top: 20px;
            padding: 30px;
        }

            .topCreatorsTitleContainer {
                height: 10%;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
            }

                .topCreatorsTitleText {
                    font-size: 18px;
                    font-weight: bold;
                }

            .topCreatorsListContainer {
                height: 90%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
            }
